.header{
  display:flex;
  top:0;
  height: 100px;
	width: 100%;
  background-color: #efefef;
  position: fixed;
  z-index:1;
}
.navbar{
  display: flex;
  width: 100%;
  padding-right: 0px;
  background-color: ;
}

.elementnav{
  margin-left: 20px;
  margin-right: 0px;
}
.elementnav:first-child {
  background-color: ;
  margin-right: px;
}
.navbar-logo{
  float: left;
  padding-top: 60px;
}
.navbar-right{
  list-style:none;
  margin:10px;
  padding-top: 22px;
  float: right;
}
.navbar-items{
  width: 100%;
}
