<div class="banner text-center">
  <div class="banner-content">
    <h1 style="font-size: 50px;
      font-weight: bolder;"> A title</h1>
    <p style="font-size: 30px;
      font-weight: lighter;"> A description </p>
    <a class="btn btn-primary" href="#">a button</a>
  </div>
</div>
