<div class="banner text-center">
  <div class="banner-content">
    <img width="900px" alt="myprofilepic" <%= image_tag("we.jpg") %>
    <h1 style="font-size: 50px;
      font-weight: bolder;"> The right pic for you</h1>
    <p style="font-size: 30px;
      font-weight: lighter;"> Freelance digital artist </p>
    <a class="btn btn-primary" href="#">learn more</a>
  </div>
</div>
