<div class="card" >
  <div class="card-user">
    <img class="rounded-circle img-raised" <%= image_tag("me.jpg") %>
  </div>
  <div class="card-tag" >#dev</div>
  <div class="card-description">
    <h3>Web development</h3>
    <p>creating websites</p>
  </div>
</div>
