<div class="card" >
  <div class="card-user">
    <img src="http://placeimg.com/50/50/any" class="rounded-circle img-raised">
  </div>
  <div class="card-tag" >#film</div>
  <div class="card-description">
    <h3>Film-making</h3>
    <p>documentary and fiction</p>
  </div>
</div>
