<div class="card" >
  <div class="card-user">
    <img src="http://placeimg.com/50/50/any" class="rounded-circle img-raised">
  </div>
  <div class="card-tag" >#photo</div>
  <div class="card-description">
    <h3>Photography</h3>
    <p>Events and portfolios</p>
  </div>
</div>
