<div class="card" >
  <div class="card-user">
    <img class="rounded-circle img-raised" <%= image_tag("me.jpg") %>
  </div>
  <div class="card-tag" >#photo</div>
  <div class="card-description">
    <h3>Photography</h3>
    <p>Events and portfolios</p>
  </div>
</div>
