<div class="card" >
  <div class="card-user">
    <img class="rounded-circle img-raised" <%= image_tag("me.jpg") %>
  </div>
  <div class="card-tag" >#film</div>
  <div class="card-description">
    <h3>Film-making</h3>
    <p>documentary and fiction</p>
  </div>
</div>
