<div class="card" >
  <div class="card-user">
    <img src="http://placeimg.com/50/50/any" class="rounded-circle img-raised">
  </div>
  <div class="card-tag" >#dev</div>
  <div class="card-description">
    <h3>Web development</h3>
    <p>creating websites</p>
  </div>
</div>
