
  <div class="footer">
    <ul>
      <li>
        <a class="myButton"href="https://www.facebook.com/david.belaga">
          <i class="fab fa-facebook-f"></i> Facebook
        </a>
      </li>
      <li>
        <a class="myButton"href="https://www.linkedin.com/in/david-belaga-73506266/">
          <i class="fab fa-linkedin-in"></i> Linkedin
        </a>
      </li>
      <li>
        <a class="myButton" href="https://www.instagram.com/david_belaga/">
          <i class="fab fa-instagram"></i> Instagram
        </a>
      </li>
      <li>
        <a class="myButton" href="https://vimeo.com/user12743256">
          <i class="fab fa-vimeo"></i> Viméo
        </a>
      </li>
    </ul>
  </div>
