<div class="header">
  <nav class="navbar">
      <ul class="navbar-items">
        <div class="navbar-logo">
          <li class="elementnav"><h3>db</h3></li>
        </div>
        <div class="navbar-right">
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="avatar" src="assets/me.jpg" height="75px" width="75px" alt="myprofilepic"></a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item myButton" href="#">Home</a>
              <a class="dropdown-item myButton"href="#">About</a>
              <a class="dropdown-item myButton"href="#">Contact</a>
            </div>
          </li>
        </div>
      </ul>
  </nav>
</div>
