<div id="London" class="tabcontent">
  <h3>style</h3>
  <p>The right style for you.</p>
</div>

<div id="Paris" class="tabcontent">
  <h3>product</h3>
  <p>The right product for you.</p>
</div>

<div id="Tokyo" class="tabcontent">
  <h3>experience</h3>
  <p>The perfect experience for everyone (you, me, your customers, if you have those)</p>
</div>

<div id="Oslo" class="tabcontent">
  <h3>price</h3>
  <p>The right price (for me for sure)</p>
</div>

<button class="tablink" onclick="openCity('London', this, '#946E83')" id="defaultOpen">style</button>
<button class="tablink" onclick="openCity('Paris', this, '#CDD5D1')">product</button>
<button class="tablink" onclick="openCity('Tokyo', this, '#B4A6AB')">experience</button>
<button class="tablink" onclick="openCity('Oslo', this, '#615055')">price</button>
